<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/personal.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/whoami.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/myprojects.css'%}">
    <link rel="stylesheet"  href="{% static 'css/all.css' %}">
</head>
<body>

    {% include "include/navbar.html"%}

    
    <!-- Silinece-->

    {% block body %}

    <!--Personal.htmk-->
   
    <div class="personal">

    <div class="photo">Fotoğraf Gelicek</div>
        <div class="personal-info">
            <div class="personalinfo">Ahmet Mercan</div>
            <div class="contact">Contact With Me Via...</div>
        </div>
        
        <div class="conctactwith">
            <div class="inf">            
                <i class="fab fa-github-alt"></i>
            </div>
            
            <div class="inf">     
                <i class="gg-bitbucket"></i>
            </div>
            
            <div class="inf">      
                <i class="fab fa-linkedin-in"></i>                

            </div>
        
            <div class="inf">                
                <i class="gg-facebook"></i>                     
 
             </div>
            
            <div class="inf">
                <i class="fab fa-instagram"></i>                

            </div>

        </div>

    </div>

    <!-- Who am i ? -->

    <div class="whoami">
        <div class="about-header">
            <ul class="sec-nav">
                <li><a href="#">About Me</a></li>
                <li><a href="#">Study</a></li>
                <li><a href="#">Work Experiences</a></li>
                <li><a href="#">Hobbies</a> </li>

            </ul>
        </div>
        <div class="about-content">
            <div class="about-me">
                <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                </p>
            </div>
        </div>
        <div class="about-study">
            <ul class="school about-me">
                <li>
                    <i class="fas fa-user-graduate"></i> 
                    Gazipaşa İlkokulu
                </li>
                <li>
                    <i class="fas fa-user-graduate"></i> 
                    TORBALI ATATÜRK ANADOLU LİSESİ
                </li>
                <li>
                    <i class="fas fa-user-graduate"></i> 
                    MSKÜ BİLGİSAYAR MÜHENDİSLİĞİ
                </li>
            </ul>

        </div>
        <div class="work-experiences">
            <div class="about-me">
                <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                </p>
            </div>
        </div>
        <div class="hobbies">
            <div class="about-me">
                <ul >
                    <li>
                        Travelling
                    </li>
                    <li>
                        Photography
                    </li>
                    <li>
                        Cycling
                    </li>
                </ul>
            </div>
        </div>

        
        <div class="resume-section">
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </p>    
        </div>



    </>




    <!--My Projects-->

    <div class="myprojects">
        <div class="projects-title">"MY Projects"</div>
        <div class="projects-navigator">
            <ul class="pjct-nav-li">
                <li>Mobile Applications</li>
                <li>Web Scrapping</li>
                <li>Automation</li>
                <li>Front End Development</li>
                <li>Back End Development</li>
                
            </ul>
        </div>
        <div class="projects-section">
            <div class="project-row">
                <div class="pjct-numerator">
                    
                    <ul>
                        <li>1</li>
                    </ul>

                </div>
                <div class="pjct-title">Bu benim ilk projem</div>
                <div class="pjct-detail">Detay Butonu</div>
                <div class="pjct-git">git Butonu</div>
            
            </div>
            <div class="project-row">
                <div class="pjct-numerator">
                    
                    <ul>
                        <li>2</li>
                    </ul>

                </div>
                <div class="pjct-title">Bu benim ilk projem</div>
                <div class="pjct-detail">Detay Butonu</div>
                <div class="pjct-git">git Butonu</div>
            
            </div>
        </div>
        <div class="pjct-pagination">Sayfalandırma Divi</div>


        
    </div>
    

    {% endblock body %}
</body>
</html>
